
.main_data{
    max-width: 1000px;
}

.form{
    padding: 20px 0;
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.form_control{  
    display: flex; 
    gap: 20px;
}

.form_input {
    display: flex;
    width: 100%;
    box-shadow: 0 0 5px 0 grey;
    border-radius: 10px;
    position: relative;
}

.form_control input, .form_control select{
    display: flex;
    padding: 10px;
    font-size: 18px;
    width: 100%;
    border:none;
    border-radius: 10px;
}

.form_control_submit_end{
    display: flex;
    justify-content: end;
}

.form_control_inputs{
    display: flex;
    border-radius: 10px;
    
}




/* vista de menú asesores */
.cards_control{
    display: flex;
    gap: 60px;
    flex-wrap: wrap;
    padding: 80px 0;
}
.cards_control .card_link{
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    display: flex;
    color: #333;
    box-shadow: 0 0 2px 0 grey;
    font-size: 20px;
    text-decoration: none;

}
